* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins";
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background-color: rgb(2, 60, 99);
    display: flex;
    align-items: center;
    justify-content: center;
}

#card {
    height: 450px;
    width: 300px;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    border: 2px solid chocolate;
    position: relative;
}

#stories {
    height: 100px;
    width: 100%;
    border-bottom: 1px solid #dadada;
    /* background-color: black; */
    padding: 15px;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

#stories::-webkit-scrollbar {
    display: none;
}

.story {
    height: 70px;
    width: 70px;
    /* background-color: white; */
    border-radius: 50%;
    border: 2px solid chocolate;
    overflow: hidden;
    display: inline-block;
    margin-right: 5px;
    cursor: pointer;
}

.story img {
    height: 100%;
    width: 100%;
    /* border-radius: 50%; */
    object-fit: cover;
    object-position: center;
}

#full-screen {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    /* background-color: red; */
    position: absolute;
    border-radius: 10px;
    display: none;
    /* transition: all ease 0.3s; */
}